.shopping>h1{
    font-style: italic;
    font-family: "DejaVu Sans";
    font-size: 50px;
    color: white;
    letter-spacing: 0.3px;
    text-shadow: 0 0 2px blue;
    padding-bottom: 0px;
    border-bottom: 1px dotted blue;
    margin: 0px;
}
.shopping>h5{
    font-style: italic;
    margin-top: 5px;
    letter-spacing: 0.5px;
    color: blue;
}

#head-link {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    margin-top: 10px;
    clear: both;
}

.head{
    color: blue;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
}